[2015-11-24 15:11] sdkcarlos opened #1 "Unable to resolve filesystem path from external storage (sd-memory)"
content://com.android.externalstorage.documents/document/0E49-D59B%3A.android_secure

 java.lang.Exception: Unable to resolve filesystem path for content://com.android.externalstorage.documents/document/0E49-D59B%3A.android_secure

Any idea of what happen when trying to solve a path from a SD Memory ?

[2016-01-11 23:14] anemitoff opened #2 "In the Plugin.xml file, the js-module tag should be nested under the android platform tag"
When building a cross-platform app that includes your plug-in, the call to the bridge function fails because there is no implementation for targets other than android and yet the javascript FilePath method exists and exposes a FilePath.resolveLocalFilePath() method.

[2016-01-12 00:27] hiddentao commented on #2
That's strange since the plugin only specifies Android as an available target platform - so I'm wondering how it is that the JS is ending up in your other target builds.

[2016-01-12 15:31] anemitoff commented on #2
Just because you only have a platform tag for android does not tell cordova that the plugin is unsupported for the other platforms.  It just means there is no platform specific code for the other platforms.  Sometimes a plugin may have native code for one platform and a javascript fall-back for the others.

To specify that your plugin should only be installed for android, I think modifying the eng

[2016-01-18 00:49] okwei2000 opened #3 "FilePath.resolveNativePath fails after Jan.2016 Security update"
fails silently, no errors. Nexus 6p

https://source.android.com/security/bulletin/2016-01-01.html

[2016-01-18 02:06] hiddentao commented on #3
I see. I guess we'll have to figure out a different way of getting the file path now :/

[2016-01-18 02:07] hiddentao commented on #2
Thanks a lot, I'll take a look at that spec.

[2016-02-02 01:46] buunguyen commented on #3
+1. Love to see support for this.

[2016-02-03 07:09] paragrshinde commented on #3
is there any alternative????

[2016-02-09 03:37] cybercorey commented on #3
Same issue here, we are trying to get the true path to obtain the filesize however we cannot anymore...

[2016-02-12 03:46] okwei2000 commented on #3
Getting a different error now after Feb. update:
'java.lang.IllegalArgumentException: None of the requested columns can be provided'

Seems that Google is playing around with the file system calls.

[2016-02-15 18:47] tanasebutcaru commented on #3
Hello guys,

I've solved this issue & the PR is ready to be merged.
Until my fixes are merged, feel free to use my [unofficial version release](https://github.com/TanaseButcaru/cordova-plugin-filepath-unofficial).

[2016-02-15 18:48] tanasebutcaru commented on #1
Solved, check #4

Until my fixes are merged, feel free to use my [unofficial version release](https://github.com/TanaseButcaru/cordova-plugin-filepath-unofficial).

[2016-02-15 18:53] sdkcarlos commented on #1
@TanaseButcaru Thank you so much !, I will test tomorrow ;)

[2016-02-19 08:22] hiddentao commented on #2
Fixed in latest according to your suggestion. Thanks!

[2016-02-19 08:22] #2 closed

[2016-02-19 08:23] hiddentao commented on #3
Thanks to @TanaseButcaru this is now fixed in 1.0.2.

[2016-02-19 08:32] hiddentao commented on #1
Fixes have now been merged into 1.0.2 aswell.

[2016-02-19 08:52] #1 closed

[2016-02-20 01:44] okwei2000 commented on #3
I'm  still getting the
`java.lang.IllegalArgumentException: None of the requested columns can be provided` error with 1.0.2.

Does the fix work after the Feb.2016 update? I only got this error after upgrading to Feb.2016 updates.

[2016-02-20 02:56] tanasebutcaru commented on #3
Please give more details about device, version, location of selected file.

[2016-02-20 04:37] hiddentao commented on #3
If you could provide a stack trace too that would be great.

[2016-04-21 06:41] rezasadeghzadeh opened #5 "Invalid column_data Error Message"
I got this message  "Invalid column_data"

`

 window.FilePath.resolveNativePath(key.photos[0].value, function(filePath){
                        alert("Success : " + filePath);
                    }, function (err) {
                        alert("Error : "+ JSON.stringify(err));
                    });

`
would you please guide me

[2016-04-21 07:15] tanasebutcaru commented on #5
Please provide the following:
- android version / phone brand
- the value of `key.photos[0].value`

[2016-07-26 08:25] ycgmarket commented on #5
got the message too,
uri value: content://com.android.contacts/contacts/as_vcard/140i69d6aff10f8b1cbf,
android version: 6.0.1
phone brand: SONY lt26w
thank you for the help =)

[2016-07-26 09:04] oddcb commented on #5
Hi. I might be struggling with the same or a related error.

What I'm trying to do is upload a photo from the contacts list (user can add a member to a group from choosing a contact).

Phone: Xperia Z5 Compact
Android version: 5.1.1

stacktrace from adb logcat:

[code]

[2016-08-02 15:39] ruifilipeasilva commented on #5
Hi, I'm facing the same problem, is there any solution for this issue or some workaround?

[2016-08-02 15:43] hiddentao commented on #5
Sorry, haven't had time to look into this yet. It's probably an Android update which has changed things again.

[2016-10-10 07:09] oddcb commented on #5
This might solve the issue if you use Cordova contact plugin: https://github.com/apache/cordova-plugin-file/pull/192 https://issues.apache.org/jira/browse/CB-11368

[2016-11-12 19:50] gabzim commented on #5
no updates on this? plugin doesn't work anymore

[2017-01-10 10:03] jonmaim commented on #5
Have a look at this PR, it's a hack and not beautiful, but it will make possible to get the file path for Dropbox and GDrive files.

PR: https://github.com/hiddentao/cordova-plugin-filepath/pull/6

Improvements are welcome!

[2017-02-24 17:45] slowkazak opened #7 "Plugin not installed ios"
Hi there, i use ionic 2, trying remove and add platform, remove and add plugin, but i seen that err

iOS 10.2.

Cordova CLI: 6.5.0
Ionic Framework Version: 2.0.0
Ionic CLI Version: 2.2.1
Ionic App Lib Version: 2.2.0
Ionic App Scripts Version: 1.0.0
ios-deploy version: 1.9.0
ios-sim version: 5.0.13
OS: OS X El Capitan
Node Version: v6.9.1
Xcode version: Xcode 8.2.1 Build version 8C1002

[2017-02-27 10:17] hiddentao commented on #7
Sorry, I haven't maintained this plugin in a while as I now build with React Native.

[2017-03-02 09:16] ghost commented on #7
oooww, u can fix ios problem if that exists?(

[2017-03-10 09:50] CHOMNANP opened #8 "Permission Denial"
I got this error after providing the uri from file chooser.

Reading com.android.provider.media.MediaProvider uri:content//media/external/images/media from pid=4081, uid:10076 require android .permission.READ_EXTERNAL_STORAGE, or grandUriPermission.

Anyone has the same issue?
I use android 23 on Nexus 5x.

[2017-03-10 14:09] hiddentao commented on #8
Are you sure you've got that permission enabled?

[2017-03-11 09:23] CHOMNANP commented on #8
This is the setting in my AndroidManifest.xml

[code]

Yes, I think it's enabled. I'm using Ionic2.

[2017-04-04 05:06] shinjo77 opened #9 "TypeError: Cannot read property 'resolveNativePath' of undefined"
I was testing this plugin.
I'm keep getting following error
"TypeError: Cannot read property 'resolveNativePath' of undefined"

am I missing something?

I added following code for the testing.

[code]

[2017-04-05 14:09] hiddentao commented on #9
I haven't used this plugin in a long time now, and thus cannot do too much digging. However, from the looks of the error you're getting it seems the plugin is NOT being loaded by cordova on startup, see https://github.com/hiddentao/cordova-plugin-filepath/blob/master/www/FilePath.js

[2017-04-24 05:24] luckylooke opened #10 "Error: Registry returned 404 for GET cordova-plugin-filePath"
I am building ionic2 app via ionic cloud service and build fails because of this error:
`Error: Registry returned 404 for GET on https://registry.npmjs.org/cordova-plugin-filePath`

I was checking the url with browser and I am getting an empty object there
`{}`

I was checking other npm packages and they are all returning content.

I have no idea what can cause this problem... could you contact np

[2017-04-24 05:48] luckylooke commented on #10
I have tried to set "main" filed in package.json.. but didnt help :/

[2017-04-24 05:52] luckylooke commented on #10
I have found the problem 🤦‍♂️
`https://registry.npmjs.org/cordova-plugin-filepath`

Letter "P" was uppercase... sorry

[2017-04-24 05:52] #10 closed

[2017-05-17 05:39] kanak-infoObjects commented on #8
I am getting the same error.
Did you find the solution @CHOMNANP

[2017-05-17 05:39] kanak-infoObjects commented on #8
@hiddentao

[2017-05-17 08:53] hiddentao commented on #8
Sorry guys, I haven't been doing cordova development for a while now so I'm not sure what the problem could be here.

[2017-05-17 08:55] hiddentao opened #11 "Looking for new maintainers"
Hey everyone, I haven't done Cordova development for a while now and don't planning on getting back to it any time soon. But this plugin still seems to be useful to people, so am happy for anyone to step up and take over as the project maintainer. At present @TanaseButcaru is the only co-contributor on this project.

@TanaseButcaru Would you like to take over this project and keep it up-to-date fo

[2017-05-18 18:11] tanasebutcaru commented on #11
Hi @hiddentao ,
I haven't use Cordova for a while too, but I plan to use it in the future again. I don't know how much time I could put into this project, though.

I was using this plugin in combination with cordova-plugin-camera and also raised a PR on apache's oficial repo of the plugin, but it has been closed because they have found something better to get the filepath than anything done by thi

[2017-05-19 14:53] hiddentao commented on #11
@TanaseButcaru Thanks for letting me know. I'll leave this ticket here for now.

[2017-06-08 13:35] franciscotln commented on #1
it still fails if I select the mediaType to be `mediaType: this.camera.MediaType.ALLMEDIA` for the same reason: the `file://` part is missing. Same when I select just `VIDEO`

[2017-06-09 17:46] hocker-app opened #12 "From whatsapp to my cordova app"
I keep getting a column __data doesn't exist error when sharing from whatsapp to my app.
It only works on gallery and only on certain images.
My phone is Android 7.0
This does work on Android 6.0

[2017-06-10 06:50] stalniy commented on #11
@hiddentao maybe it would better to merge this code in some of the core cordova plugins? It looks like it solves the issue which has nothing to do to application logic. So, why should I know that Android sometimes returns `content://` and sometimes `file://` urls? As an application developer I don't want to know about this :)

[2017-06-10 06:53] stalniy commented on #7
@slowkazak they main purpose of this plugin is to resolve file path for Android platform. It can't be installed for iOS.

[2017-06-12 09:52] charlizesmith commented on #12
I am facing the same problem for Android v7 and some phones which has v6.0.1

[2017-06-12 10:32] charlizesmith commented on #12
https://github.com/hiddentao/cordova-plugin-filepath/issues/5
solves the issue for Whatsapp as well.

[2017-06-13 09:31] hiddentao commented on #11
@stalniy Good point, though at the moment the code in this plugin doesn't seem to work for all Android versions - Google keep changing how they handle paths :/

[2017-06-14 05:47] stalniy commented on #11
What do you mean by that?

I guess it is possible to check path by some condition and decide whether you need to apply this logic or not.

So this can be a helper function which can do this.

In my opinion the best place for this plugin is Cordova-plugin-compat

[2017-06-14 09:10] hiddentao commented on #11
There are unfixed bugs in the plugin, as evidenced by the outstanding issue list. Those would need to be investigated.

[2017-06-25 19:01] surajpotnuru commented on #8
hi @CHOMNANP did u get any fix for this? please help!!

[2017-06-30 09:58] CHOMNANP commented on #8
I haven't had the time to fix the issue but senior does fixed it.

Thanks,
Punleu

[2017-06-30 09:59] #8 closed

[2017-07-19 19:09] HartHerbert opened #13 "still maintained ?"

[2017-08-06 11:45] bushev opened #14 "Error: column '_data' does not exist"
Hello! I tried to get a native path for Dropbox file. Imported with https://github.com/ihadeed/cordova-filechooser

[code]

, where uri = "`content://com.dropbox.android.FileCache/filecache/43876dac-1263-4824-9653-6fd60be9fcff`"

Android 5.0 (API version 21)

Full stack-trace:

[code]

Ionic info:

[code]

[2017-08-09 18:26] hiddentao commented on #13
#11

[2017-08-18 18:01] joaocolling commented on #14
I got this same issue!

[2017-08-31 08:55] kukukk opened #15 "Permission denial on Android 7.1.2"
Hi,

I observed that the plugin is no longer actively maintained, but maybe it will be useful...

I'm trying to use the plugin on Android 7.1.2, but I get the following error:

Is it because of the new way Android handles permission and the app should request permission at runtime?

[2017-08-31 08:59] kukukk commented on #15
Sorry, I forgot to check the closed issues...

[2017-08-31 08:59] #15 closed

[2017-11-03 06:19] brajeshsipl opened #18 "Error found when file is fetched from GDrive."
I am fetching a file from GDrive and passed file path to  **filePath** and using  **resolveNativePath**  function  below line of code
window.FilePath.resolveNativePath(filePath, successCallback, errorCallback);
Now i am getting Error  **Unable to resolve filesystem path**  with Code **0** .
why this error come only in GDrive  but not in Dropbox or local file system.

[2017-11-03 09:07] qwertxyz commented on #14
I got this same issue!

[2017-11-08 06:15] deepanjali11 opened #19 "cordova-plugin-filepath Plugin not installed android"
ur connection and plugin name/version/URL.
Error: npm: Command failed with exit code 1 Error output:
npm ERR! Darwin 16.7.0
npm ERR! argv "/usr/local/Cellar/node/8.4.0/bin/node" "/User/node_modules/.bin/npm" "install" "cordova-plugin-filepath@1.1.0" "--production" "--save"
npm ERR! node v8.4.0
npm ERR! npm  v2.15.12
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package @angular/common@4.4.3

[2017-11-12 06:53] airstep commented on #14
+1

[2017-12-04 22:39] stalniy opened #20 "adds posibility to configure frameworks version via config variable"
Different plugins may use different framework versions and sometimes devs need to align them manually. One easy way is to allow to configure framework version via additional plugin variable. Like in phonegap-plugin-push - https://github.com/phonegap/phonegap-plugin-push/blob/master/plugin.xml#L47

Would be good to add similar variables for android support framework. Currently it shows exception:
[

[2017-12-05 13:43] curiousdannii opened #21 "Chrome downloads not handled"
I'm trying to get the path of a download from Chrome, and it's not handled by this plugin:

[code]

Now I know this plugin is not being heavily developed at present. If anyone is aware of an alternative plugin that would handle it, that would be greatly appreciated!

Edit: for my use case, the path is not fully necessary, as long as I can get the data from it.

[2017-12-06 06:27] curiousdannii commented on #21
Okay, turns out that [the file plugin](https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/#read-a-file-) is able to read files even if we cannot extract the proper path from them. For now I don't think I need this plugin. Still it will be good to know that it's here if I do and that it's mostly reliable :)

[2017-12-06 06:27] #21 closed

[2017-12-25 21:23] alexdragneel commented on #18
Hello, same thing for me, have you find a solution ? :) Thank you.

[2018-01-19 03:00] mantou132 commented on #14
+1

[2018-02-02 02:23] jairemix opened #23 "Do not request permissions until necessary"
Currently the plugin requests file permissions on initialisation. This can be off-putting to the user if they are just sampling the app and are not using its file-related features.

Instead the plugin should request file permissions when it is executed for the first time, i.e. when resolveNativePath is called.

[2018-02-02 02:24] #23 closed

[2018-02-20 11:50] Manaspaul623 opened #24 "showing file read write permission after install of my app"
after first open of my app it shows the file read write permission request. can i show the permission request after user clicking the file  upload button inside of my app.

[2018-03-01 04:05] jeremyaurelius commented on #24
I had the same problem. Check out this fork / pull request https://github.com/lordgreg/cordova-plugin-filepath

[2018-03-14 11:38] NilLlisterri commented on #14
Same issue with URI: `content://com.xxx.xxx.sharing.provider/root/storage/emulated/0/Android/data/com.xxx.xxx/files/attachments/attachment-1.jpg`

[2018-03-16 05:07] mpadmaraj commented on #14
I'm getting same error with WhatsApp share :(. URI is:
content://com.whatsapp.provider.media/item/22869

[2018-03-28 08:25] ChrizC commented on #11
@hiddentao is this now abandoned? if so - I'm happy to continue the plugin on if you're willing to release the npm and cordova plugin namespace.

[2018-04-02 19:47] cabaird commented on #14
+1

[2018-04-03 09:35] hiddentao commented on #24
Does this still happen in 1.3.0?

[2018-04-03 09:39] ChrizC commented on #3
Does this still happen?

[2018-04-03 09:41] ChrizC commented on #7
Hi @slowkazak - as @stalniy mentioned, this plugin is for Android only. It should just not do anything if running your project on an iOS device. Please let us know if you have any further issues, but closing for now.

[2018-04-03 09:41] #7 closed

[2018-04-03 09:41] ChrizC commented on #9
Hi @shinjo77 - is this still happening?

[2018-04-03 09:42] ChrizC commented on #13
Closing this as no longer an issue.

[2018-04-03 09:42] #13 closed

[2018-04-03 09:43] ChrizC commented on #19
Hi @deepanjali11 - does this still happen when trying to install 1.3.0?

[2018-04-03 09:45] ChrizC commented on #20
@stalniy can you clarify this a bit? I'm not exactly sure what you're looking for with this.

[2018-04-03 09:46] ChrizC commented on #18
@brajeshsipl @alexdragneel are you still encountering this?

[2018-04-03 13:09] cabaird commented on #5
+1

[2018-04-03 14:28] ChrizC commented on #5
@cabaird can you elaborate on what you're experiencing? Any stack traces, as well as information such as the device and android version you're running would be great.

[2018-04-05 08:32] ChrizC commented on #3
Closing due to inactivity, if this is still a problem please open a new issue.

[2018-04-05 08:32] #3 closed

[2018-04-05 08:33] ChrizC commented on #9
Closing due to inactivity, if this is still a problem please open a new issue.

[2018-04-05 08:33] #9 closed

[2018-04-06 10:44] ivanosire commented on #24
version 1.3.0 resolve this permission problem.
thank you @hiddentao

[2018-04-06 16:13] Manaspaul623 commented on #24
But it happened with version 1.3.0 in my app.
Same showing.

On Fri, 6 Apr 2018, 16:14 Christopher Cox, <notifications@github.com> wrote:

[2018-04-06 16:15] ChrizC commented on #24
Hi @Manaspaul623, can you elaborate? Are you using Ionic, or Cordova specifically? Are you running on device or emulator? Can you give any version numbers for the rest of your app?

[2018-04-09 06:16] Manaspaul623 commented on #24
hi. i'm using ionic and cordova together. and it gets the prompt in device
and emulator also

On Fri, Apr 6, 2018 at 9:45 PM, Christopher Cox <notifications@github.com>
wrote:

[2018-04-09 09:06] ChrizC commented on #24
hi @Manaspaul623 - can you please try running these two commands:
`ionic cordova plugin remove cordova-plugin-filepath`
and
`ionic cordova plugin add cordova-plugin-filepath@1.3.0`

Let me know if you still have issues.

[2018-04-09 12:49] Manaspaul623 commented on #24
Yes, it still happened with this method but the problem has fixed with this
fork https://github.com/lordgreg/cordova-plugin-filepath

On Mon, 9 Apr 2018, 14:36 Christopher Cox, <notifications@github.com> wrote:

[2018-04-09 12:52] ChrizC commented on #24
Hi @Manaspaul623 - please check that when you install this plugin directly that no old entries remain in your package.json and config.xml files - it may be conflicting with a direct install from that fork, or it may be remembering an older version. It might also be wise to delete your plugins folder and then reinstall them.

[2018-04-09 18:59] Chuckv01 commented on #24
@ChrizC I can confirm `1.3.0` fixes the issue on my end. Thanks!

[2018-04-13 13:30] Manaspaul623 commented on #24
Wow it's working. Thanks

On Thu, 1 Mar 2018, 09:36 ジェレミー (Jeremy), <notifications@github.com> wrote:

[2018-04-14 21:53] ChrizC commented on #24
That's great to hear all, closing this now.

[2018-04-14 21:53] #24 closed

[2018-04-14 21:54] ChrizC commented on #5
Closing this due to inactivity. Please open a new issue if the problem persists.

[2018-04-14 21:54] #5 closed

[2018-04-14 21:55] ChrizC commented on #18
Closing this due to inactivity. Please open another issue if the problem persists.

[2018-04-14 21:55] #18 closed

[2018-04-14 21:55] ChrizC commented on #19
Closing this due to inactivity. Please open another issue if the problem persists.

[2018-04-14 21:55] #19 closed

[2018-04-14 21:58] ChrizC commented on #20
Closing due to inactivity. Please reply to this issue with any further details and we can reopen it.

[2018-04-14 21:58] #20 closed

[2018-04-15 04:40] stalniy commented on #20
Currently in the plugin xml framework Versions hardcoded:

[code]

If another plugin uses the same frameworks but with different versions, Cordova build will fail. To fix this you need to provide possibility to configure frameworks versions via plugin variables.

The example is in this file:
https://github.com/phonegap/phonegap-plugin-push/blob/master/plugin.xml

Look for android frameworks, there

[2018-04-18 09:51] enguerran opened #26 "Google Drive content://"
Hi, thanks for this plugin. It helped me to manage intent `content://` url. It works well with Google Photos and Dropbox on Android, but I cannot make it work with Google Drive. Here what I receive with `window.resolveLocalFileSystemUrl`:

[code]

You can see the incoming `content://` in `nativeURL`: `content://com.google.android.apps.docs.storage.legacy/enc%3DfhNPFErrgrEv9o4Q0EfWItmhwQRdSI8diNatI

[2018-04-18 10:08] enguerran commented on #26
It appears that `resolveLocalFileSystemURL` is a `directoryEntry` as defined in [cordova-plugin-file](https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-file/). But I cannot retreive the filename. So I close this issue and go to the other plugin github page.

Thanks

[2018-04-18 10:08] #26 closed

[2018-04-18 10:34] enguerran commented on #26
I found I used `1.0.2` and there is a code to handle legacy authority in `1.3.0`. I try it now.

[2018-04-18 10:42] enguerran commented on #26
It works like a charm!

[2018-05-14 12:56] ghost commented on #14
I have the same problem with native path for Dropbox.

[2018-05-16 10:34] lovelyelfpop opened #27 "Realiable way to get external storage path"
/**
     * Get external sd card path using reflection
     * @param mContext
     * @param is_removable is external storage removable
     * @return
     */
    private static String getExternalStoragePath(Context mContext, boolean is_removable) {

        StorageManager mStorageManager = (StorageManager) mContext.getSystemService(Context.STORAGE_SERVICE);
        Class<?> storageVolumeClazz = nul

[2018-06-29 07:21] RishabAkalankan commented on #5
I'm still having this issue.
my code:
this.filePath.resolveNativePath((contactsImageURI)).then(()).catch((error: any)=> {
console.log('error',error)
)
//op Invalid column _data
//contactsImageURI is the URI returned from the cordova contacts plugin.

[2018-06-29 07:38] ChrizC commented on #5
@RishabAkalankan please open a new issue, and can you also include what the value of contactsImageURI actually is, please?

[2018-06-29 07:49] RishabAkalankan commented on #5
@ChrizC yea sure, the value is
**content://com.android.contacts/contacts/XXXX/photo**
I'm passing that string into the function but it returns an error
**contacts.photos[0].value = content://com.android.contacts/contacts/XXXX/photo**

[2018-06-29 07:59] RishabAkalankan opened #29 "Cordova FilePath returns Invalid column _data for image uri from contacts cordova plugin"
I'm trying to get the file path from an URI returned by the cordova contacts plugin using the resolveNativePath from filepath plugin.

contact.photo[0].value = contactsImageURI;
contactsImageURI = content://com.android.contacts/contacts/XXXX/photo;
this.filePath.resolveNativePath((contactsImageURI)).then(()=> {
console.log('success');
}).catch((error: any)) => {
console.log(error);
});
// output I

[2018-07-24 10:51] aebla84 opened #31 "Error in src/android/FilePath.java"
Hello,

We found some error in FilePath.java
It's not a big mistake, but I think it's good to modify it. I do not know why our project has a problem to understand it. We are seeing why.
The error is on line 340 .: return uri.getPath (). ReplaceFirst ("^ / document / raw:", "") .replaceFirst ("^ raw:", "") ;;
We find two  ';'  followed. And our project says it's a mistake.

Thank you

Bea

[2018-07-24 11:08] ChrizC commented on #31
Oops, that's my mistake. Will publish 1.4.2 with a fix in a moment. Thanks for making me aware!

[2018-07-24 11:08] #31 closed

[2018-07-26 07:03] wahid105 opened #32 "Could not resolve all files for configuration ':app:debugCompileClasspath'. > Could not find support-core-ui.aar (com.android.support:support-core-ui:25.4.0). Searched in the following locations: https://jcenter.bintray.com/com/android/support/support-core-ui/25.4.0/support-core-ui-25.4.0.aar"
How to fix this error?????????

FAILED

14 actionable tasks: 1 executed, 13 up-to-date
FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':app:debugCompileClasspath'.

  Searched in the following locations:
      https://jcenter.bintray.com/com/android/support/support-core-ui/25.4.0/support-core-ui-25.4.0.aar

* Try:
Run with --stacktrace op

[2018-08-31 20:18] gbvacco commented on #32
Same here

[2018-08-31 21:01] ChrizC commented on #32
Hi @mawahidvga and @gbvacco - can you elaborate on this issue? I'm seeing nothing in your error logs that state this plugin is causing the build failure. Can you let me know the actual code that is on line 169 of superspawn.js?

Thanks,
Chris.

[2018-08-31 21:02] ChrizC commented on #29
Hi @RishabAkalankan - is this still happening?

[2018-08-31 21:03] ChrizC commented on #27
Hi @lovelyelfpop - are you still encountering issues? If so, please feel free to open a PR with your suggested changes.

[2018-08-31 21:03] #27 closed

[2018-08-31 21:04] ChrizC commented on #12
Hi @hocker-app and @charlizesmith - are you still encountering issues with this?

[2018-08-31 21:05] ChrizC commented on #14
Hi all! I'm going to close this issue but if you're still having troubles with this, please open a new issue with as much detail as you can and I'll look into it as soon as I can.

[2018-08-31 21:05] #14 closed

[2018-09-01 12:36] #11 closed

[2018-09-07 03:07] manishb-socialcurry commented on #29
It is happening with me too. I just downloaded your plugin and used it and got the same error: "column '_data' does not exist". Btw, I googled and found that it is since Nougat that they have changed things and even those using Java API are facing this issue. See: https://stackoverflow.com/questions/42508383/illegalargumentexception-column-data-does-not-exist

Could you please fix it?

[2018-09-12 21:03] Alb93 opened #33 "Error with cordova-plugin-firebase"
I'm encountering the following error too: https://forum.ionicframework.com/t/ionic-build-error-after-installing-plugin/132820/4

Could be fixed?

[2018-09-12 21:24] Alb93 commented on #33
This fork is working https://github.com/2garryn/cordova-plugin-filepath.git

[2018-10-15 06:39] andelz opened #34 ""Unknown URI" for downloaded document"
Trying to get file path for a downloaded document I get an error:

`Unknown URI: content://downloads/public_downloads/12627`

Content URI provided was:
`content://com.android.providers.downloads.documents/document/12627`

It seems that files downloaded using Chrome or Gmail are stored this way. Am I missing something? Taking a look at your code it seems that since Android 8 (which I'm running on)

[2018-10-16 06:50] gurwinder-macrew commented on #34
I am also getting same issue as @andelz  `content://com.android.providers.downloads.documents/document/521`

[code]

I am getting this issue in Android Oreo 8.1. Below Oreo, It is working fine. Please add support for oreo.

Thanks.

[2018-10-16 07:25] gurwinder-macrew commented on #34
I am able to fix the issue by adding in FilePath.java class. Please add below code in FilePath.java in getPath method.

`Cursor cursor = null;
                try {
                    cursor = context.getContentResolver().query(uri, new String[]{MediaStore.MediaColumns.DISPLAY_NAME}, null, null, null);
                    if (cursor != null && cursor.moveToFirst()) {
                        Strin

[2018-10-18 11:28] ayalpani commented on #29
Hi. I have the same issue with Telegram images:

content://org.telegram.messenger.provider/media/Telegram/Telegram%20Images/246936588_94670.jpg

=> "column '_data' does not exist"

Phone: Huawei P9
Version of plugin: 1.4.2

Does not work with files from Telegram and Whatsapp. Other Apps (Google Drive, Huawei Photo App) do work.

[2018-11-01 16:35] olaferlandsen commented on #34
Fixed in pull request #35

[2018-12-01 11:03] distante commented on #34
I hope the pull request for this fix get merged soon! I am having the same problem.

[2018-12-01 16:08] olaferlandsen commented on #34
Don't worry, reinstall this plugin using the git uri:
`ionic cordova plugin add https://github.com/olaferlandsen/cordova-plugin-filepath`

[2018-12-03 20:00] distante commented on #34
I suppose is it safe to say that this repository is not longer maintained .

[2018-12-05 05:04] olaferlandsen commented on #34
the last commit... 4 years ago

[2019-01-02 15:16] PeterHdd commented on #34
This issue is still not fixed

[2019-01-02 19:41] PeterHdd commented on #34
Out of curiosity, since it is merged. Why doesn't this work ionic cordova plugin add cordova-plugin-filepath @olaferlandsen

[2019-01-02 19:50] distante commented on #34
@PeterHdd it is not yet pushed to NPM. @hiddentao [has lost his NPM credentials but he is looking for them](https://github.com/hiddentao/cordova-plugin-filepath/pull/35#issuecomment-450800932).

[2019-01-03 08:07] PeterHdd commented on #34
Whenever I do:

    ionic cordova plugin add https://github.com/olaferlandsen/cordova-plugin-filepath

I get the following error:

Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Error: cmd: Command failed with exit code 1 Error output:
npm ERR! code 128
npm ERR! Command failed: C:\Program Files\Git\cmd\git.EXE submodule

[2019-01-03 08:19] hiddentao commented on #34
Hey all, 1.5.0 has now been pushed, enjoy.

[2019-01-03 08:22] hiddentao commented on #34
Sorry about the delay, someone else was supposed to be maintaining this repo but I'm not sure if they're still interested in doing so. I'm happy for anyone else who is keen to take over maintenance duties as I don't build with cordova anymore as it is. Alternatively, I can keep merging PRs that the community feel are worthy of addition.

[2019-01-03 08:28] PeterHdd commented on #34
yes I can help you if you want

[2019-01-03 08:32] developer-macrew commented on #34
Yes, I can help too.

[2019-01-03 08:33] manjeet-macrew commented on #34
Yes, I can help too.

[2019-01-03 08:36] gurwinder-macrew commented on #34
Yes, I can help you for this.

[2019-01-03 10:12] hiddentao commented on #34
@PeterHdd @gurwinder-macrew Thanks a lot!

[2019-01-23 08:17] thisisirfan opened #38 "cordova-plugin-filepath: Unable to resolve filesystem path in android"
Trying to upload image from ionic application via android/ios gallery. It's working perfectly fine on ios but throw error in android.
It always throw following error while resolving native path in **this.filePath.resolveNativePath(imagePath)** method:
`{code: 0 ; message: "Unable to resolve filesystem path."}`

Here is my code for uploading image:
`var options = {
  quality: 60,
  targetWidth:900,

[2019-01-23 08:50] PeterHdd commented on #38
update filepath plugin to the latest version which is  1.5.1

`ionic cordova plugin rm  cordova-plugin-filepath`
`ionic cordova plugin add cordova-plugin-filepath@latest`

If that doesn't work then it might be from the ionic webview plugin

[2019-01-23 09:14] thisisirfan commented on #38
Thanks for responding, I've already tried with latest version but it still didn't work.

[2019-01-23 09:36] PeterHdd commented on #38
Alright try the [important section](https://github.com/PeterHdd/cordova-plugin-crypto-file#important) and tell me if it works or not.

As im also using the file path plugin to upload files to the server, and it worked with me.

[2019-01-23 09:39] thisisirfan commented on #38
Ok following it

[2019-01-23 10:04] thisisirfan commented on #38
I have followed the https://github.com/PeterHdd/cordova-plugin-crypto-file#important steps and it result encrypt text rather than ionic page.

[2019-01-23 10:13] thisisirfan commented on #38
Ok i have compiled it again, now app run fine but image upload still return same error:
[code]

[2019-01-23 11:10] thisisirfan commented on #38
@PeterHdd It's seems like an android version issue, i just tested in android 5.1 version and it was working perfectly fine but not working on android 8.0 version

[2019-01-29 10:41] jitrani opened #39 "New Issue"
Type 'FilePathOriginal' is not assignable to type 'Provider'.
  Type 'FilePathOriginal' is missing the following properties from type 'FactoryProvider': provide, useFactory

[2019-01-30 03:32] bhavin00 commented on #39
I have to use FilePathOriginal instead of FilePath.. But, when I use FilePathOriginal then it was not working.

Ionic version :- 3.11.0
Cordova Version :- 8.1.2

I also try to downgrade cordova version but no luck

[2019-02-05 06:25] HirokiDaido commented on #14
I still got this issue too. (Android 8.0 x Dropbox)

[2019-02-07 06:08] pawan-logiciel opened #40 "Cant Upload File From one Drive and ES Explorer"
Getting this uri from one drive =>content://com.microsoft.skydrive.content.StorageAccessProvider/document/content%3A%2F%2Fcom.microsoft.skydrive.content.metadata%2FDrive%2FID%2F1%2FItem%2FID%2F22%2FProperty%2F%3FRefreshOption%3DAutoRefresh%26RefreshTimeOut%3D15000

FROM ES Explorer =>content://com.estrongs.files/storage/emulated/0/drive-download-20181228T073012Z-001/15397290795bc666b738e89_Louderm

[2019-02-12 05:54] roncemer opened #41 "This plugin conflicts with many others"
Please update the android version in the package.json to support a wider variety of android versions.

This plugin conflicts with both the firebase and admob plugins, causing this error:

:app:processDebugManifest/home/rcemer/projects/flatulatron/app/platforms/android/app/src/main/AndroidManifest.xml:28:13-35 Error:
	Attribute meta-data#android.support.VERSION@value value=(25.4.0) from [com.androi

[2019-02-12 05:56] roncemer commented on #41
A discussion on cordova-plugin-filepath breaking the project when used with /cordova-plugin-firebase.  Hint: it's not the firebase plugin which is messed up.

https://github.com/arnesson/cordova-plugin-firebase/issues/736

[2019-02-12 18:26] roncemer commented on #41
To fix, remove the following two lines from plugin.xml, commit, and publish a new version to npm.
[code]

Please notify when this is done.  This is urgent, as there are many people who cannot use your plugin because of this bug.

[2019-02-13 00:41] roncemer commented on #33
This module also conflicts with the cordova-admob plugin.  See this issue: https://github.com/hiddentao/cordova-plugin-filepath/issues/41

In the issue I filed, I presented a solution (remove two lines from plugin.xml).  It's a quick and easy fix.

Apparently, the maintainer of this plugin is asleep at the wheel.  If he's not going to maintain it, then the least he could do would be to add someone

[2019-02-21 18:22] Stefano1964 commented on #14
Same here with Android 9 and DropBox, works with GoogleDrive
The path from cordova file chooser plugin:
`content://com.dropbox.android.FileCache/filecache/445f6e95-75b4-4b3a-b36e-5b307244c22d`
The log:
[code]

[2019-02-21 18:44] Stefano1964 opened #43 "Error: column '_data' does not exist"
On Android 9 and DropBox, works with GoogleDrive
The path from cordova file chooser plugin:
`content://com.dropbox.android.FileCache/filecache/445f6e95-75b4-4b3a-b36e-5b307244c22d`
The log:

[code]

[2019-02-25 15:46] Eugenizer commented on #29
@ChrizC I have same problem as @RishabAkalankan. I take contact by cordova contacts plugin, get image url in format "content://com.android.contacts/contacts/:contactId/photo", try to convert, but always get as a result "Invalid column _data"

[2019-02-26 11:56] ZaLiTHkA opened #44 "Different file paths returned depending on method of selection (Android 8)"
I've just noticed something strange about picking files with the "file chooser" that this launches on Android 8..

in this scenario, I'm trying to import a JSON file that I've downloaded, so naturally it's currently sitting in my device's "Download" folder. when the file chooser opens, by default the left sidebar has the usual source options like "Images", "Videos", "Audio" and "Recent". after thi

[2019-03-02 11:30] akshgods opened #45 "How to get file extension ?"
im not getting file extension if there is a space between file name.

example:
shock life.png

im not getting .png if there is a space in fiile name.

[2019-03-05 10:25] UDTDR commented on #38
Same issue. Anywhere exist a workaround? Thanks

[2019-03-11 10:12] olivierschmid commented on #14
Same here with Android 9. It works fine with GoogleDrive but NOT with DropBox.

Path from Cordova file chooser plugin:

`content://com.dropbox.android.FileCache/filecache/55cea4e9-dfff-43e4-8f95-be4028181929`

Log:
[code]

[2019-03-18 21:40] denermiranda commented on #34
Having the same problem here. Any news on the fix?

[2019-03-25 12:23] marutifh commented on #26
@enguerran Did you get a file name and extension along with the data?

[2019-03-25 12:27] marutifh commented on #45
@akshgods Did you find any fix for it?

[2019-04-15 15:41] cromdev commented on #29
Happens for me as well, using it wrapped with Ionic, but it down to the same error.

[2019-04-17 11:44] nruotsal opened #46 "Unable to resolve Google Photos path"
Hi,

I'm getting error `{code: 0, message: "Unable to resolve filesystem path."}` when trying to resolve Google Photos path `content://com.google.android.apps.photos.contentprovider/2/1/mediakey%3A%2Flocal%253A5c48eb7f-3ec9-4dbf-83bf-42643a8132bb/ORIGINAL/NONE/559741294` with `FilePath.resolveNativePath`

[2019-04-20 05:02] HBiSoft commented on #14
For those who get this issue. The reason is because a `Uri` is not a `File`, but rather a path. None of these libraries implement their `FileUtils` classes correctly.

To ensure you get an actual file path back, you will have to create a new file using a `ContentResolver`, `InputStream` and a `FileOutputStream`.

Though this is in Java, you will get an idea of how to solve this.

I first check if

[2019-04-25 09:35] echonox opened #48 "Unneeded WRITE_EXTERNAL_STORAGE?"
This plugin asks for unneeded android.permission.WRITE_EXTERNAL_STORAGE which could prevent some users from downloading our app if we can't provide a reasonable explanation, looking into the plugin's code I don't see a need to WRITE to storage, as we only resolve the path here could you please @hiddentao elaborate?

[2019-04-26 15:34] hiddentao commented on #48
Good point. Looks like it came here -> https://github.com/hiddentao/cordova-plugin-filepath/commit/99796bf64825d7a3a34444de5c0618af90a13f50

Have you tried without the permission? If it still works without then I'm happy to remove it. I haven't  actually used this plugin myself in years.

[2019-04-29 21:37] marvin-SL commented on #29
same for me with whatsapp

[2019-04-30 08:15] marvin-SL opened #49 "Error: column '_data' does not exist"
Hello,
I'm sharing file from other apps to my cordova app.
When I share from explorer app, i've got the file uri such as :
`file:///sdcard/Audio/SoundRecorder/2019-03-04%2019-36-03.aac`

but when I share from 3rd party app (whatsapp in my example), I don't receive a file uri :
`content://com.whatsapp.provider.media/item/100492 ` and then i got “column ‘_data’ does not exist”

ionic info
[code]
Can

[2019-05-04 08:52] angjelkom commented on #48
@hiddentao Indeed I've forked and did the change, and it's working fine without issues, I had to fork it from @roncemer as his pull #42 fixes some conflicts

[2019-05-06 08:44] hiddentao commented on #48
I've merged it in now, thanks.

[2019-05-06 08:47] hiddentao commented on #48
1.5.4 published.

[2019-05-06 08:47] #48 closed

[2019-05-09 11:29] miloslavskacel opened #50 "FilePath.java:16: error: package android.support.v4.app does not exist"
"cordova-plugin-filepath" spec="1.5.4" fails on
`ionic cordova run android --device --no-build --   --verbose`
with
[code]
**Steps to reproduce**
prepare empty project
[code]
add plugin and reproduce the bug
[code]
**ionic info**

Ionic:

   ionic (Ionic CLI)  : 4.10.3 (/.../.nvm/versions/node/v10.15.0/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.5
   @ionic/app-scripts : 3.2.

[2019-05-10 04:57] liuya891012 commented on #50
you can download plugin then delete FilePath.java:16,add the plugin again.
 works

[2019-05-10 05:56] ghost commented on #50
Thanks. I've solved it by changing `android-minSdkVersion` from 19 to 24.

`<preference name="android-minSdkVersion" value="24" />
`

[2019-05-11 11:34] angjelkom commented on #48
@hiddentao please merge

[2019-05-11 15:35] hiddentao commented on #48
1.5.5 published.

[2019-05-13 09:07] hiddentao commented on #50
@miloslavskacel Should this change go into the main codeline?

[2019-05-14 20:48] ghost commented on #50
It was a change in config.xml, rather workaround only, because we don't need as android-minSdkVersion=19 in our project. I reopened as the issue can be reproduced for android-minSdkVersion=19.

[2019-05-24 12:19] marvin-SL commented on #49
I did a pull request to fix this https://github.com/hiddentao/cordova-plugin-filepath/pull/53

[2019-05-29 13:08] zigapeda commented on #44
Hi

I've got the same problem. If fileChooser is used to open a file from downloads subfolder the subfolder is cut out.
`content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2Fapptest%2F9f143ca0-7893-11e9-a410-87bb962a3e2a.pdf`
resolves to
`file:///storage/emulated/0/Download/9f143ca0-7893-11e9-a410-87bb962a3e2a.pdf`

If I use the internal storage

[2019-06-01 14:38] mpadmaraj commented on #49
@marvin-SL thanks a lot! I had to add ` <framework src="commons-io:commons-io:2.4" />` in the plugin.xml to make it work though.

[2019-06-04 08:46] marvin-SL commented on #49
Thank you @mpadmaraj  ! I will add it to the PR later this day

Edit:Added !

[2019-06-18 00:22] doug-a-brunner commented on #50
I had a very strange experience with this: ran into the problem, used @miloslavskacel's workaround, which did the job at first, then after (I believe) some Android Studio updates, the problem came back and would not go away. It seems like the import statement could be removed for real, since the file doesn't actually reference ActivityCompat anywhere; am I missing something?

[2019-06-18 17:54] afonsoUnivision commented on #44
The same problem from @zigapeda the subfolder is been cut out from the result

"content://com.android.providers.downloads.documents/document/raw%3A%2Fstorage%2Femulated%2F0%2FDownload%2FTESTE%2FOutroNome.docx"

Returns:
"file:///storage/emulated/0/Download/OutroNome.docx"

[2019-06-19 07:13] jcabanasdiaz commented on #50
I have the same problem here guys. I feel, as @doug-a-brunner said, the import at line 16 on FilePath.java could be removed.

Could you confirm that?

Thanks in advance for your time

[2019-06-19 14:14] olivierschmid opened #55 "Error '_data' does not exist when using with Dropbox"
Hi!
I am using the plugin within a Ionic 3.x App. We use the plugin cordova-plugin-filechooser to pick a file on Android - then transform the URI with cordova-plugin-filepath.
Everything works fine except when picking a file from Dropbox.

The FilePicker return the following content-URI:

The Filepath Plugin then throws error:

Tests are run on Samsung S9 / Android 9.
Any ideas?
Thanks a lot!
Oli

[2019-06-19 14:24] olivierschmid commented on #55
Probably the same Problem as in #43

[2019-07-24 20:24] shahramSo commented on #14
Same error with Android 8 and 9. It works fine with GoogleDrive but NOT with DropBox.

[2019-08-03 15:01] vincekd commented on #50
@doug-a-brunner could you create a pull request for your fix so it can get pushed to npm?

[2019-08-03 15:14] vincekd commented on #50
@doug-a-brunner  Nevermind, I just did it quick :+1:

@hiddentao Could we get a merge on this? Thanks!

[2019-08-04 09:32] hiddentao commented on #50
Sure! thanks @vincekd

[2019-08-04 09:32] #50 closed

[2019-11-06 18:33] noveweb commented on #38
Same here!

[2019-11-21 15:58] dwlrathod opened #60 "Unable to resolve OneDrive Path from content URI"
Hi,

I'm getting following wrong path when trying to resolve path from OneDrive:
Content URI that is being passed:
`content://com.microsoft.skydrive.content.external/Drive/ID/1/Item/RID/9E862D5A44C3B91C%2148853/Stream/1/Property/TestDocument.pdf`
and `FilePath.resolveNativePath` method returns:
`file://TestDocument.pdf`

Another example, with following path:
`content://com.microsoft.skydrive.conte

[2020-02-19 00:28] Alfre90 commented on #29
Any update on this issue?????

[2020-02-19 11:08] adityamaple1989 commented on #43
@Stefano1964  did you find out any solution,can you please tell me that

[2020-02-19 11:26] adityamaple1989 commented on #49
@marvin-SL did you find any solution,can you please tell me I am also facing same situation,please reply

[2020-02-19 16:08] adityamaple1989 commented on #14
@HBiSoft I am getting openInputStream filenotfound exception in
    InputStream is = context.getContentResolver().openInputStream(uri);
   Can you please help me to resolve this issue.

[2020-02-20 05:10] adityamaple1989 opened #62 "OpenInputstream FileNotFoundException"
Hello can anyone tell me the solution , I am getting FileNotFoundException in below code
InputStream is = context.getContentResolver().openInputStream(uri);
                                                                                                       ^

[2020-02-20 21:28] marvin-SL commented on #29
Hello, I did a PR a while ago to fix this https://github.com/hiddentao/cordova-plugin-filepath/pull/53

[2020-02-20 21:29] marvin-SL commented on #49
Hello, yes here https://github.com/hiddentao/cordova-plugin-filepath/pull/53

[2020-02-24 06:08] adityamaple1989 commented on #49
@marvin-SL Oh thank you so much for your reply,
I am getting FileNotFoundException in below line
context.getContentResolver().openInputStream(uri),I have already imported files,but I am getting the error

[2020-02-24 06:57] adityamaple1989 commented on #49
@marvin-SL ,I am also getting this error,When I shared the from one third party app to my ionic app,i.e
Attempt to invoke virtual method 'android.content.pm.ApplicationInfo android.content.Context.getApplicationInfo()' on a null object reference

[2020-03-01 15:37] shlomir commented on #44
Is there any workaround for subfolder issue?

[2020-03-02 11:32] ZaLiTHkA commented on #44
I haven't found anything yet for this.. The app in which I discovered this behaviour simply includes a note in the user feedback message to suggest using a different "file browser" if `file.readAsText` fails to open the path returned from `file.resolveLocalFilesystemUrl`.

I've been working on other projects since then, so I haven't actually looked at this for a little while.. I still have a note

[2020-03-04 13:49] iChristosK opened #63 "FilePath Plugin - plugin_not_installed"
Everything was working fine since suddenly today I got this 2 warnings. I will add them below.
I tried:
ionic cordova plugin add cordova-plugin-filepath
npm install @ionic-native/file-path

I added FilePath to app.module.ts inside providers.

But still it shows the plugin not installed.

1.Native: tried calling FilePath.resolveNativePath, but the FilePath plugin is not installed.
2.Install the Fil

[2020-03-04 14:19] iChristosK commented on #63
Also I check my package.json and I have filepath version 1.5.7 here.

[2020-03-06 08:16] iChristosK commented on #63
It's been 2 days and I haven't received an answer from anyone. Is this plugin dead?

[2020-03-06 09:49] hiddentao commented on #63
Hi, I haven't been maintaining this plugin for a while now (as I don't use Cordova anymore) so am not sure what the cause might be. There haven't been any recent changes to the plugin itself so it's either something that has changed in Cordova that is making the plugin out-of-date or it's some local installation issue on your end.

[2020-07-12 13:15] gaurav112 commented on #49
When do we see a merge for the pr #53 ?

[2020-07-13 06:21] gaurav112 commented on #44
decodeURI(content://.../raw) worked for me before fetching the nativePath.

[2020-07-20 07:20] ghatul opened #65 "resolveNativePath getting error 'uri'. How to debug this one?"
At least it should return error object so it will easy to debug. Not getting any clue what is happening here.

**Ionic: 4
@ionic-native/file-path@5.27.0
cordova-plugin-filepath@1.5.8**

Please any one can help me out.

Note: i am checking this on  android emulator not on android device..

`this.fileChooser.open().then(fileUri => {
      this.filePath.resolveNativePath(fileUri).then(resolvedNativeP

[2020-07-20 11:34] ZaLiTHkA commented on #44
I have vague recollections of trying that previously, but I just tested again now and it doesn't make any difference.. `decodeURI` gives me the exact same URI as the string that comes from `fileChooser.open()`.

interestingly, we seem to be experiencing what seems to be the same issue in iOS now, but I haven't had a chance to dig any more into that side yet.

[2020-07-27 08:34] ZaLiTHkA commented on #44
FWIW: I've abandoned this route of importing files from the local device.. I've replaced `cordova-plugi-file-picker`, `cordova-plugin-file-chooser`, and as a result, the usage of `cordova-plugin-filepath`, with `cordova-plugin-chooser` reading in the file Blob and decoding the data with `TextDecoder`... so, pretty much all of my example code in the OP has been replaced with two lines.

feel free t

[2020-07-31 14:47] amnzera commented on #14
guys into the whatsapp , i try share document for my app and show this path:
"content://com.whatsapp.provider.media/item/1f1c0bd0-c811-4958-94d8-063c31fe4a1f"
this path not working.

in file explorer returns this path:
"content://com.mi.android.globalFileexplorer.myprovider/external_files/WhatsApp/Media/WhatsApp%20Documents/b1313e3e52a4b08d6cb0a9dddb35549f.pdf"

this path works fine

how resolve t

[2020-07-31 14:52] graphefruit commented on #44
Came across this issue just now.
@hiddentao is there no possibility to get a fix?

[2020-08-01 20:00] hiddentao commented on #44
@graphefruit This package is no longer actively maintained. PRs are of course welcome.

[2020-09-18 02:21] Gokulakannan1997 opened #66 "cordova-plugin-filepath Crash Report"
I got the below error in the play store crash report. In any block we can't able to find the solution and root cause of this issue.

Mainly this is occurred for Motorola and Huawei devices.

Android 7,9

Full stack-trace:

java.lang.RuntimeException:
 at android.app.ActivityThread.deliverResults (ActivityThread.java:5078)
 at android.app.ActivityThread.handleSendResult (ActivityThread.java:5120)

[2020-09-23 20:02] kalandher opened #67 "Able to get path but getting it in error callback not in success callback"
getting this is error callback not proper error code or message,

For input string: "raw:/storage/emulated/0/Download/newFiles.pdf"

[2020-10-03 22:45] tlarrain commented on #65
I am running on an Android Device (Google Pixel 4a, Android 11) and I have the same problem, please help!

[2020-11-04 13:18] d3v53c commented on #38
same issue here..

"cordova-plugin-filepath": "^1.5.8",
"@ionic-native/file-path": "^5.29.0",

Any workarounds yet?

[2020-11-17 15:43] tonn1o commented on #66
@Gokulakannan1997 did you manage to reproduce it?

[2020-11-17 15:50] TheTonnio opened #68 "java.lang.NullPointerException on FilePath.getDataColumn | Crash Report"
This crash happens only for Android 11 and Pixel devices.

[code]

[code]

[2020-11-19 10:44] tonn1o commented on #68
Looks like the plugin doesn't work correctly with Android 10/11.
I solved the problem by removing this plugin and using Chooser to get the base64 encoded file.

[2020-11-30 04:01] masterTail commented on #34
Cursor cursor = null;
                try {
                    cursor = context.getContentResolver().query(uri, new String[]{MediaStore.MediaColumns.DISPLAY_NAME}, null, null, null);
                    if (cursor != null && cursor.moveToFirst()) {
                        String fileName = cursor.getString(0);
                        String path = Environment.getExternalStorageDirectory().toStrin

[2020-12-09 08:23] indraraj26 opened #69 "[Android] content:// to file://storage does not get resolve"
# Bug Report

## Problem
When you take pdf anyother file from download you get URI with content://. So in order to resolve i use this package to get file URI path https://www.npmjs.com/package/cordova-plugin-filepath

### What is expected to happen?
It should resolve and return file detail

### What does actually happen?
It returns error code: 1 // not found

## Information

chrome://inspect
![ima

[2021-01-18 09:41] CoooWeee commented on #65
Same her:
[code]
on real devices: pixel 2 and pixel 3 with Android 11.

I think it is related to the filetype (I try opening CSVs). Inside of `getPath` there is a check `isDownloadsDocument(uri)` which is false for my CSV. However, `isMediaDocument(uri)` returns true but he than expect a "image", "video" or "audio" which is all false. That is why `contentUri` stays null.

[2021-02-08 13:31] Houdhey commented on #69
In your Android Manifest, add this ```android:requestLegacyExternalStorage="true"``` in the application tag.

[2021-02-08 14:31] indraraj26 commented on #69
Hi, It is already in place
Repo to reproduce: https://github.com/indraraj26/cordova-camera-fast-click/tree/content-file-path
Branch: content-file-path
On Android 10 it returns code 1 error i.e file not found

Android 7 vs Android 10
![image](https://user-images.githubusercontent.com/23274631/102104917-bd5b8a00-3e54-11eb-9863-a50d22c93cf1.png)

Issue Thread on cordova plugin file: https://github.co

[2021-02-08 14:36] Houdhey commented on #69
Here is what I did to solve my Android 10 problems, similar to yours:
- Android manifest: add the request Legacy External Storage true
- Before opening a file, I had to ask for permission, and I used Ionic Diagnostic plugin for this:
``` this.diagnostic.requestExternalStorageAuthorization().then((permission) => console.log('permission storage asked' + permission));```

[2021-02-15 13:26] kiranharidas187 commented on #65
The same happening here. This actually happens for Android 10+ devices.  Did anyone find any solution for this?

[2021-02-15 18:38] Houdhey commented on #65
For Android 10, add ``` android:requestLegacyExternalStorage="true"``` to application tag in AndroidManifest.xml, and target Sdk version 29 or 30.

[2021-02-19 04:52] CoooWeee commented on #65
I did same as @Houdhey said but it did not work for all files (for example CSV not working for me).

I use:

I did couple of changes out of some of the open PR and it works fine for those files I use (no guarantee):
[code]

[2021-03-07 23:08] Crwd commented on #65
@CoooWeee Works perfectly!

@hiddentao Can you please merge this? Otherwise filetypes like csv, pdf etc. would not resolve the path..

[2021-03-10 00:14] hiddentao commented on #65
@Crwd Could you raise this as a PR please? Then I can merge it.

[2021-03-10 09:56] jbagaresgaray commented on #65
@hiddentao I created a PR now ... base on https://github.com/hiddentao/cordova-plugin-filepath/issues/65#issuecomment-781817118

https://github.com/hiddentao/cordova-plugin-filepath/pull/71

[2021-03-11 12:54] hiddentao commented on #65
Merged and published 1.6.0.  Thanks @jbagaresgaray !

[2021-03-11 13:00] jbagaresgaray commented on #65
@hiddentao you're welcome and thanks too @CoooWeee  as well...

[2021-03-18 06:54] bhandaribhuminpfizer commented on #38
any solution?

[2021-04-30 01:41] albertyue opened #73 "cordova-plugin-filepath Crash Report:java.lang.NumberFormatException"
i use cordova-plugin-filechooser(1.2.0) choose file, then use this plugin (1.6.0) convert the content uri to native "file://" like uri, but i got this err:
`E/PluginManager: Uncaught exception from plugin
    java.lang.NumberFormatException: For input string: "raw:/storage/emulated/0/Download/Browser/libusb-1.0.24.7z"
        at java.lang.Long.parseLong(Long.java:594)
        at java.lang.Long.val

[2021-05-25 07:09] TheMartas29 commented on #65
For android 10 you have to add following to AndroidManifest.xml: android:requestLegacyExternalStorage="true"
For android 11 (or higher) you have to add special permission for accessing all types of files, it is: android:name="android.permission.MANAGE_EXTERNAL_STORAGE"

Google / Android don't want you to use "MANAGE_EXTERNAL_STORAGE" permission.
Read more here: https://developer.android.com/traini

[2021-07-02 09:39] NehaRuparelgit commented on #14
I am getting the same issue.The suggested PR also didn't fix the issue.Can anyone please help.

[2021-07-20 15:29] #63 closed

[2021-07-30 13:33] milanchauhanajmerainfotech commented on #46
Hello...
Having Same problem

{code: 0, message: "Unable to resolve filesystem path."}

URI is

"content://com.google.android.apps.photos.contentprovider/-1/1/file%3A%2F%2F%2Fdata%2Fuser%2F0%2Fcom.google.android.apps.photos%2Fcache%2Fshare-cache%2Fmedia.tmp%3Ffilename%3DIMG_20210730_114050.jpg/ORIGINAL/NONE/1296497330"

[2021-09-29 07:39] veeravetrivel opened #74 "Ionic Capacitor Angular with Android 11 uri -> resolveNativePath -> Unable to resolve filesystem path"
I am facing issue in Android 11 while using cordova-plugin-multiple-documents-picker and @ionic-native/multiple-document-picker to choose PDF document

Upload from Download folder working fine

1. Uploading from document folder or filtering document or traversing to document folder in directory(Example Whatsapp folder)
2. Facing issue in getting filepath

`this.multipleDocumentsPicker
      .pick(

[2021-09-29 07:46] hiddentao commented on #74
This plugin is no longer actively maintained. Please use an alternative. Perhaps one of the other contributors can help you.

[2021-09-30 13:33] veeravetrivel commented on #74
ok Thank you

[2021-09-30 13:33] #74 closed

[2021-10-25 12:59] anubhavs19 commented on #74
@veeravetrivel How did you solve this?

[2021-10-25 14:02] veeravetrivel commented on #74
@anubhavs19

I have used URI itself for file-transfer, It works well. I have ignored resolveNativePath from cordova-plugin-filepath because its no longer maintained.

[2021-11-08 16:32] sahalshn opened #76 "[Blocker] resolveNativePath is failing in android 11"
[code]
Unable to read file native path in android 11. This is only happening for files that are uploaded from the download folder.
[code]

[2021-11-09 11:30] sahalshn commented on #76
@hiddentao Can you please have look into it

[2021-11-09 15:56] hiddentao commented on #76
@sahalshn I am no longer actively maintaining this repo